<div class="jumbotron">
	<h1 class="text-center">Hello, volunteers!</h1>
	<p style="text-align: center;">Login to view geo-tagged locations relevant to your mission.</p>
</div>

<div class="row">
	<div class="col-md-6">
		<a href="/login" class="btn btn-block btn-primary">Log In</a>
	</div>
	<div class="col-md-6">
		<a href="/signup" class="btn btn-block btn-primary">Sign Up</a>
	</div>
</div>
